@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.input-group {
  @apply flex flex-col space-y-1;

  & label {
    @apply text-sm;
  }

  & input,
  & textarea {
    @apply py-1 px-2 bg-white dark:bg-slate-600 rounded border border-slate-400 dark:border-slate-500 focus:outline-none focus:border-blue-600 dark:focus:border-blue-300;
  }
}

.show-invalid-styles {
  & input,
  & textarea {
    &:invalid {
      @apply border-red-700 dark:border-red-200;
    }
  }
}

.alert {
  @apply py-1 px-2 rounded text-sm;
}

.alert-success {
  @apply bg-green-200 dark:bg-green-700 text-green-700 dark:text-green-200 border border-current;
}

.alert-error {
  @apply bg-red-200 dark:bg-red-700 text-red-700 dark:text-red-200 border border-current;
}

.loading-text::after {
  animation: 0.75s loading-text-animation infinite;
  content: '';
}

@keyframes loading-text-animation {
  0% {
    content: '';
  }

  25% {
    content: '.';
  }

  50% {
    content: '..';
  }

  75% {
    content: '...';
  }
}
